$bg-color-main: rgb(12, 161, 79);
$bg-color-button:#fff;
$bg-color-letter-correct: rgb(12, 161, 79);
$bg-color-letter-incorrect: rgb(175, 18, 18);
$box-shadow: 0.5rem 0.3rem black;
$fonts: "Balsamiq Sans",
"roboto",
"arial";

$min-width: 37.5rem;
$min-height: 56.8rem;
$max-height: 90rem;

$tablet-width:568px;